

@media all and (min-device-width: 425px) and (max-device-width: 767px) {
	
	#bloc_page {
		width : auto;
		margin: auto;
	}

	.header {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: auto;
	}

	form label span {
		display: none
	}

	.fas.fa-search {
		display: inline;
	}

	nav ul:not(#element3) {
		width: 100%;
		display: flex;
	}

	.filters_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: space-around;
	}


	#accommodation {
		display: flex;
		flex-direction: column-reverse;
		width: auto;
		margin: auto;
	}

	#hotels {
		width: auto;
		margin: auto;
		background-color: white;
	}

	.hotels_list {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: auto;
	}

	#popular {
		width: auto;
		margin: auto;
	}

	.popular_hotels {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: auto;
	}

	.activities {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: auto;
		margin: auto;
		height: auto;
	}

	.activity {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: auto;

	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: auto;
		margin: auto;
	}

	footer ul, footer li {
		width: auto;
		margin: auto;
	}
  
} 
