
@font-face { 
	font-family: 'Raleway-Regular';
	src: url("font/Raleway-Regular.ttf"); 
}

html {
	font-family: Raleway-Regular, Arial, Verdana, Serif;
}

.bloc_page {
	margin: 0px auto;
	max-width: 1400px;
}
/* couleur de fond pour les blocs */
footer, #popular, #hotels {
  	background-color: #f2f2f2;
  	border-radius: 12px;
}

form {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

h2 {
	padding-left : 2%;
	padding-top: 2%;
	font-weight: bolder;
}

/* pas de décoration pour les liens*/
a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

figure {
	background-color: white;
	border-radius: 24px;
	box-shadow: 4px 4px 6px grey;
}
/*effet au survol pour toutes les figures */
figure:hover {
	background-color: white;
	border-radius: 24px;
	box-shadow: 12px 12px 6px grey inset; 
}

figcaption h3, figcaption p {
	padding-bottom: 4%;
	margin: 0%;
	font-size: 0.9em;
}

ul {
	list-style: none;
}

/* emplacement du logo et des ancres */
nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 15%;
	padding: 0% 0% 2% 2%;
	box-sizing: border-box;
}

nav #logo {
	width : 60%;
	margin : 0%;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 30%;
}
/*barre au survol */
nav ul li a:hover  {
	color: #0065FC;
	border-top: solid thin #0065FC;
	padding-top: 10px;
}

nav a {
	text-decoration: none;
	font-size: 1.1em;
}

nav #signup {
	font-weight: bold;
	color: #0065FC;
}

.fa-map-marker-alt {
	background-color: #f2f2f2;
	border-radius: 12px 0px 0px 12px;
	padding: 12px;
}

form input {
	border-color: #f2f2f2;
	color: black;
	font-weight: bold;
}

form label {
	color: white;
	background-color: #0065FC;
	border-radius: 0px 12px 12px 0px;
	padding: 12px;
}
/* icone à apparaître dans résolutions inférieures */
.fas.fa-search {
	display: none;
}

.filters_list h2 {
	padding-bottom: 2%;
	padding-left: 0%;
}

#filters {
	display: flex;
	flex-direction: column;
	padding-left: 2%;
}

#filters h1, #filters p {
	margin: 0%;
	padding-bottom: 1%;
}

.filters_list {
	display: flex;
	flex-wrap: wrap;
	width : 75%;
}

div.filter, .filter p {
	display: flex;
	align-items: center;
	align-self: center;
	margin: 0px;
	font-weight: bold;
}
/* bordures des filtres */
div.filter {
	border-bottom: solid thin #f2f2f2;
	border-top: solid thin #f2f2f2;
	border-right: solid thin #f2f2f2;
	border-radius: 50px;
	padding-right: 8px;
	margin: 10px;
}

.filter p {
	padding-left: 3px;
}
/* présentation des icones */
.icon {
	background-color: #DEEBFF;
	opacity: 1;
	border-radius: 50%;
	padding: 7px; 
	width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
}

i.fa-info {
	border: solid thin #f2f2f2;
	border-radius: 100px;
	padding: 7px;
	margin-right: 1%;
	width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
}
/* modification apparence au survol */
.filter:hover {
	cursor: pointer;
	background-color: #DEEBFF;
}
/* couleur des icones */
.fa-chart-line, .fa-map-marker-alt {
	color: black;
}

.fa-star, .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info {
	color:#0065FC;
}
/* étoiles grisées sous les hôtels */
#s1, #s2, #s3, #s4,#s5, #s6, #s7 {
 	color: #f2f2f2;
 }
/* division de la sections hébergements en deux parties */
#accommodation {
 	display: flex;
 	justify-content: space-around; 
 	width: 100%;
 }

#hotels { 
	display: grid;
	width: 60%;
	padding: 2%;
}
/* organisation du bloc hôtels */
.hotels_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	height: 100%;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
/* apparence des figures des hôtels */
.hotels_list figure { 
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	max-height: 250px; 
	margin: 0px;
} 

.hotels_list img {
	width: 100%;
	height: 60%;
	padding: 1%;
	border-radius: 24px 24px 0px 0px;
	box-sizing: border-box;
	object-fit: cover;
}

.hotels_list figcaption {
	box-sizing: border-box;
	width: 100%;
	padding: 2%;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#hotels a {
	padding-top: 30px;
	font-weight: bold;
	font-size: 1.1em;
}

#hotels h2 {
	margin-bottom: 2%;
	padding: 0px;
}

#popular {
	width: 30%;
}
/* oragnisation titre et icone */
.popular_title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 2%;
}

.fa-chart-line {
	padding-right: 2%;
}
/* organisation du bloc populaires*/
.popular_hotels {
	display: grid;
	grid-template-rows: 160px 160px 160px;
	width: 100%;
	height : 100%;
	grid-row-gap: 40px;
}
/* organisation des figures */
.popular_hotels figure {
	display: flex;
	flex-direction: row;
	padding: 1%;
	box-sizing: border-box;
	max-height: 170px;
	margin: 0px 15px;
}

.popular_hotels img {
	width: 50%;
	padding: 0.2%;
	border-radius: 24px 0px 0px 24px;
	box-sizing: border-box;
	object-fit: cover;
}

.popular_hotels figcaption {
	box-sizing: border-box;
	width: 100%;
	padding: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* organisation de la section activités */
.activities {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around; 
	width: 100%;
	height: 500px;
}

/* organisation des figures */
.activity {
	display: grid;
	grid-template-rows: 1fr 10px 50px;
	width: 20%;
	margin: 0%;
}

.activity figcaption {
	display : flex;
	padding: 10px 10px 0px 10px;
	align-items: center; 
}

.activity:nth-child(1), .activity:nth-child(4) {
	height: 100%;
}

.activity:nth-child(2) {
	height: 50%;
}

.activity:nth-child(3) {
	height: 40%;
}

.activity:nth-child(5), .activity:nth-child(6) {
	height: 45%;
}

#activities {
	margin-top: 50px;
	margin-bottom: 50px;
}

.activities img {
	width: 100%;
	height: 100%;
	border-radius: 24px 24px 0px 0px;
	box-sizing: border-box;
	object-fit: cover;
	grid-row: 1/3;
}
/* organisation du pied de page */
footer {
	border-radius: 0px;
}

footer .bloc_page {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-around;
	align-items: flex-start;
	padding: 20px 0px 20px 55px;
}

footer li {
	padding-top: 2%;
	font-size: 0.9em;
}

footer ul, footer h2 {
	padding: 0px;
	font-size: 1.1em;
}