#bloc_page {
	width : auto;
	margin: auto;
}

	/* organisation du logo et des ancres */ 
header .header {
  	flex-wrap: wrap;
}

header .header img {
  	order: 1;
}

header .header ul {
  	order: 3;
  	width: 100%;
  	padding: 0%;
}

.header ul li {
  	width: 100%;
  	text-align: center;
  	border-bottom: 3px solid grey;
  	padding-bottom: 10px;
}
/* changement au survol */ 
.header ul li a:hover {
	color: #0065FC;
	border-bottom: 3px solid #0065FC;
	padding-bottom: 10px;
	border-top: none;
}

.header ul li:hover {
  	width: 100%;
  	text-align: center;
  	border-bottom: 3px solid #0065FC;
  	padding-bottom: 10px;
}

.header a {
  	order: 2;
  	flex-grow: 1;
  	text-align: right;
}

.header a #signup:hover {
	border: solid grey;
}

/* disparition texte 'rechercher' */
form label span {
	display: none
}
/* apparition de l'icone loupe */
.fas.fa-search {
	display: inline;
}

/* inversion des deux sections accommodation */
#accommodation {
	flex-direction: column-reverse;
	width: auto;
	margin: auto;
}

#hotels {
	width: auto;
	margin: auto;
}
/* modification présentation des hôtels */
.hotels_list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
/* presentation des hôtels populaires sur toute la largeur */
#popular {
	width: auto;
	margin: auto;
	margin-bottom: 5%;
}

.popular_hotels img {
	width: 50%;
}
/* modification présentation des activités */
.activities {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-between;  
	width: 100%;
	height: 500px;
	}

.activity {
	display: grid;
	grid-template-rows: 1fr 55px;
	width: 30%;
	margin: 0%;
}

.activity:nth-child(1), .activity:nth-child(2), .activity:nth-child(3), .activity:nth-child(4), .activity:nth-child(5), .activity:nth-child(6) {
	height: 45%;
}

/* presentation en colonne des éléments du footer */
footer {
	display: flex;
	flex-direction: column;
	width: auto;
}

footer ul, footer li {
	width: auto;
	margin: auto;
}